@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.container {
    /* position: relative; */
    background-color: #f8f8f8;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.back {
    position: absolute;
    left: 3%;
    bottom: 5%;
    z-index: 2;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e899dc;
    background: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
    clip-path: circle(30% at right 70%);
}
body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e899dc;
    background: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
    clip-path: circle(20% at 10% 10%);
}
.card {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    /* background: white; */
    z-index: 1;
    width: 300px;
    height: 450px;
    padding: 20px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    border-top: solid 1px #abe9cd;
    border-left: solid 1px #3eadcf;
    backdrop-filter: blur(5px);
}

.number {
    pointer-events: none;
    position: absolute;
    color: rgb(255,255,255,0.05);
    font-weight: bold;
    font-size: 150px;
    top: -18px;
    right: -10px;
}
.name {
    color: rgb(44, 44, 44);
    font-size: 30px;
    font-weight: bold;
}
.job {
    color: rgb(44, 44, 44);
    font-size: 20px;
}
/* .footer-card {
    width: 100%;
} */
.birthday {
    color: rgb(44, 44, 44);
}
.skill {
    color: rgb(44, 44, 44);
    display: flex;
}
.skill-name {
    display: block;
    width: 30%;
    color: rgb(44, 44, 44);
}
.skill-line-1{
    /* position: relative; */
    display: block;
    width: 200px;
    background: white;
    border-radius: 2px;
}
.skill-line-2{
    /* position: relative; */
    display: block;
    width: 150px;
    background: white;
    border-radius: 2px;
}
.skill-line-3{
    /* position: relative; */
    display: block;
    width: 120px;
    background: white;
    border-radius: 2px;
}
.skill-line-4{
    /* position: relative; */
    display: block;
    width: 100px;
    background: white;
    border-radius: 2px;
}
.contain-img-logo {
    display: block;
    width: 50px;
}
.content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}
.card:hover .content {
    transform: translateY(0px);
    opacity: 1;
}
.contain-skills {
    margin: 0 0 40px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
}
a {
    text-decoration: none;
    /* color: gray; */
    color: rgb(44, 44, 44);
    display: block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    background: white;
    border-radius: 10px;
    font-size: 15px;
    transition: ease 0.3s;
}
a:hover {
    /* background: rgb(221,49,49); */
    background: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
    color: white
}
.line {
    transition: 0.3s;
}
.line:hover{
    /* background: rgb(221,49,49); */
    background: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
}
.back button {
    width: 120px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    color: rgb(44, 44, 44);
    background: transparent;
    position: relative;
    z-index: 1;
    transition: all .5s;
}
.back button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
    z-index: -1;
    transition: all, .5s;
    
}
.back button:hover::before {
   width: 120px;
   /* border-radius: 0 15px 15px 0; */
}

.back button:hover {
    color: white;
}
.back a {
    background: transparent;
    font-size: 23px;
}
