* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.player-form {
    position: relative;
    background-color: rgba(255,255,255, 1);
    box-shadow: 0 0 10px 0 gray;
    border-radius: 15px;
    width: 400px;
    height: 600px;
    padding: 20px;
}
.player-header  {
    color: black;
    display: flex;
    justify-content: space-between;
}
.player-header p {
    font-size: 16px;
}
.player-body {
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-contain {
    margin: 20px 0;
    width: 300px;
    height: 200px;
    background-color: white;
    box-shadow: 0 0 10px 0 gainsboro;
    overflow: hidden;
    border-radius: 10px;
}
.img-contain img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.name-contain {
    font-size: 20px;
    margin-bottom: 5px;
}
.artist-contain {
    margin-bottom: 10px;
    font-size: 16px;
    opacity: 0.5;
}
.footer-player {
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
}
.time-line {
    height: 5px;
    width: 100%;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    cursor: pointer;
}
.time-bar {
    position: relative;
    height: inherit;
    width: 0;
    border-radius: inherit;
    background-color: black;
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
}
.time {
    margin-top: 5px;
    width: 310px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}
.time-bar::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background: inherit;
    border-radius: inherit;
    top: 50%;
    right: -5px;
    opacity: 0;
    transform: translateY(-50%);
    transition: 0.2s ease;
}
.time-line:hover .time-bar::before {
    opacity: 1;
}
.list-music {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: white;
    box-shadow: 0 0 10px gainsboro;
    border-radius: 15px;
    padding: 15px;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s ease;
}
.show-list-music {
    opacity: 1;
    pointer-events: auto;
}
.contain-close-btn{
    width: 23px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease;
}
.contain-close-btn:hover{
    background-color: gainsboro;
}
.header, li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row-head {
    display: flex;
    align-items: center;
}
ul li span {
    font-size: 15px;;
}
ul li p {
    opacity: 0.6;
    font-size: 12px;
}
ul li {
    padding: 5px;
    border-bottom: 0.5px solid rgb(236, 236, 236);
}
ul li:last-child {
    border: none;
}
ul {
    max-height: 220px;
    overflow-y: auto;
}
ul::-webkit-scrollbar {
    width: 0px;
}
.time-audio {
    font-size: 13px;
}
#close-btn {
    font-size: 19px;
}
.row-head img {
    margin-right: 8px;
}
.header {
    margin-bottom: 20px;
    padding: 0 5px;
}
.control img {
    background: transparent;
    padding: 5px;
    border-radius: 100%;
    transition: 0.3s ease;
    cursor: pointer;
}
.control img:hover {
    background: rgba(0,0,0,0.1);
}
ul>li {
    transition: 0.2s ease;
    border-radius: 5px;
    cursor: pointer;
}
ul>li:hover {
    background-color: rgb(241, 241, 241);
}
ul>li.playing {
    color: #59e6a6;
    pointer-events: none;
}
.audio-duration {
    font-size: 12px;
}